<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="user in $data">
        <td data-title="'Display name'" filter="{ 'displayName': 'text' }">
            <img class="img-circle site-avatar-small site-user-avatar pull-left" src="{{user.avatarUrl}}" />
            {{user.displayName}}<br/>
            <span class="text-info site-user-date">{{user.createdAt | date}}</span>
        </td>
        <td data-title="'Name'">
            {{user.firstName}} {{user.lastName}}
        </td>
        <td data-title="'Email'">
            {{user.email}}
        </td>
        <td data-title="'Role'">
            {{userRoles.getRole(user.role)}}
        </td>
        <td data-title="'Social'">
            <a href="{{user.socialUrl}}" target="_blank" class="btn btn-social-icon btn-{{user.provider}}">
                <i class="fa fa-{{user.provider}}"></i>
            </a>
        </td>
        <td data-title="'Actions'">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile/<%- user.id %>">Show</a></li>
                    <li><a href="/user/edit/<%- user.id %>">Edit</a></li>
                    <li><a href="#">Ban</a></li>
                    <li ng-click="showRoleModal(user)">
                        <a>Assign role</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<script type="text/ng-template" id="main.users.role.modal.html">
    <button type="button" class="btn btn-default" ng-model="user.role" data-animation="am-flip-x"
            ng-options="role.role as role.title for role in userRoles.getRoles()"
            bs-select>
        Action <span class="caret"></span>
    </button>
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <a class="site-a-btn text-info" ng-click="hide()">Cancel</a>
    </div>
</script>
