<div ng-show="!image.display && !webCam" ng-init="modal.hide = $hide">
    <p>
        Please upload a real photo of yourself, so that friends can recognize you.
        <br />
        We support JPG, JPEG, GIF or PNG files.
    </p>

    <span class="text text-danger site-uploader-error" ng-show="error.status">
        <i class="fa fa-exclamation-triangle"></i>
        {{error.message}}
    </span>
    <div class="site-upload-btn-wrapper">
        <div class="site-input-fix">
            <span class="btn btn-primary" onclick="this.nextSibling.click()">
                Choose File...
            </span>
            <input type="file" size="30">
        </div>
        <div class="site-drag-n-drop-area" drag-events data-drop="drop" data-dragenter="dragenter"
             data-dragleave="dragleave" ng-class="{ 'site-drag-n-drop-area-active' : dragIn.status }">
            Or drag'n'drop file here
        </div>
    </div>

    <p>
        If you have any problems with your upload, try using a smaller picture.
        <br />
        If you have a web-cam, you can
        <a ng-click="showWebCamPage()">take an instant shot</a>
        <i class="fa fa-video-camera"></i>
    </p>
</div>
<div ng-show="webCam">
    <video class="site-upload-web-cam-video"></video>
    <canvas class="site-upload-web-cam-canvas"></canvas>
    <img class="site-upload-web-cam-image" />

    <hr />

    <button class="btn btn-primary" ng-click="takeScreenShot()">Capture image</button>
    <a ng-click="backFromWebCam()">Back</a>
</div>
<div ng-show="image.display && !thumb.display">
    <p>
        Please select an area for your profile picture and miniature.
    </p>
    <div>
        <img ng-src="{{image.data}}" class="site-uploader-image site-uploader-main-image" onimageload data-on-load-callback="onImageEditLoad" />
    </div>

    <div style="width: 0; height: 0; overflow: hidden;">
        <img ng-src="{{image.data}}" onimageload data-on-load-callback="onImageLoad" />
    </div>

    <div class="site-uploader-profile-wrapper" ng-hide="true"></div>

    <span class="text text-danger site-uploder-select-area-error" ng-show="!canNext()">
        <i class="fa fa-exclamation-triangle"></i>
        Please select an area of the photo
    </span>
    <hr />

    <button class="btn btn-primary" ng-click="next()" ng-disabled="!canNext()">Next</button>
    <a ng-click="back()">Back</a>
</div>
<div ng-show="image.display && thumb.display">
    <p>
        Now select a square area for your profile miniature.<br />
        The miniature will appear next to your posts, private messages and comments.
    </p>
    <div class="site-uploader-img-profile-wrapper">
        <img ng-src="{{thumb.data}}" class="site-uploader-image site-uploader-profile-image"
             onimageload data-on-load-callback="initProfileImageJcrop"/>
        <div class="site-uploader-profile-thumb-wrapper"></div>
    </div>

    <span class="text text-danger site-uploder-select-area-error" ng-show="!canSave()">
        <i class="fa fa-exclamation-triangle"></i>
        Please select an area of the photo
    </span>
    <hr />
    <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()">Save</button>
    <a ng-click="backFromProfile()">Back</a>
</div>