<div class="row">
    <div class="col-md-3">
        <img ng-src="{{user.avatar.profile}}" />
    </div>
    <div class="col-md-6">
        <object type="application/x-shockwave-flash" height="378" width="520" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=riotgames" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=riotgames&auto_play=true&start_volume=25" /></object>
    </div>
    <div class="col-md-3">
        <chat-room></chat-room>
    </div>
</div>
