<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="user in users">
        <div class="thumbnail">
            <img ng-src="{{user.avatar.profile}}">
            <div class="caption">
                <h3>{{user.displayName}}</h3>
                <p>{{user.firstName}} {{user.lastName}}</p>
                <p>
                    <button class="btn btn-primary" ng-click="goToProfilePage(user)">Profile</button>
                    <button class="btn btn-default">Button</button>
                </p>
            </div>
        </div>
    </div>
</div>
