<div id="loginbox" class="mainbox">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
            <div style="float:right; font-size: 80%; position: relative; top:-18px"><a href="#">Forgot password?</a></div>
        </div>

        <div style="padding-top:30px" class="panel-body" >

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="loginform" class="form-horizontal" role="form">



                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" ng-model="loginUser.displayName" type="text" class="form-control"
                           name="username" value="" placeholder="username or email"
                           ng-change="onLoginInputsChange()"/>
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" ng-model="loginUser.password" type="password" class="form-control"
                           name="password" placeholder="password"
                           ng-change="onLoginInputsChange()"/>
                </div>

                <span class="text text-danger sign-in-err" ng-show="hasLoginError()">
                    {{loginErrorMsg}}.
                    <a>Forgot password ?</a>
                </span>

                <div class="input-group">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                    </div>
                </div>


                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <button ng-click="signInLocal()" id="btn-login" class="btn btn-success">Login</button>
                        <a href="/auth/github" class="btn btn-social-icon btn-github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="auth/google-plus" class="btn btn-social-icon btn-google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account!
                            <a ui-sref="main.signin">
                                Sign Up Here
                            </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}" />
            </form>
        </div>
    </div>
</div>