body {
  padding-top: 70px;
  padding-bot: 30px;
}

.site-avatar-small {
  width : 40px;
  height : 40px;
}

.site-nav-avatar {
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
}
.site-avatar-medium {
  width: 60px;
  height: 60px;
}

li.dropdown {
  cursor: pointer;
}

.navbar-nav > li > a {
  cursor: pointer;
}

.site-sigh-in-form {
  .control-label {
    position: absolute;
    font-size: 12px;
  }
}

.sign-in-err {
  position: absolute;
  z-index: 9999999;
  font-size: 12px;
  margin-top: -22px;
}

avatar-uploader {
  .site-pick-ava {
    width: 100%;
  }

  .site-uploader-img-profile-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  a {
    cursor: pointer;
  }

  .site-uploader-main-image {
    height: auto !important;
  }

  .site-uploader-error {
    position: absolute;
    margin-top: 8px;
  }

  .site-uploder-select-area-error {
    position: absolute;
  }

  .site-uploader-image {
    max-width: 558px;
  }

  .site-uploader-profile-image-canvas {
    height: 200px;
    width: 200px;
  }

  .site-upload-btn-wrapper {
    padding: 30px 0 37px;

    .site-input-fix {
      position: relative;

      span {
        margin: 0 auto;
        display: block;
        cursor: pointer;
      }

      input {
        opacity: 0;
        width: 100%;
        height: 37px;
        margin-top: -34px;
        cursor: pointer;
      }
    }

    .site-drag-n-drop-area {
      height: 50px;
      border: 1px dashed;
      text-align: center;
      line-height: 45px;
    }

    .site-drag-n-drop-area.site-drag-n-drop-area-active {
      background-color: #ebebeb;
      opacity: 0.6;
    }
  }

  .site-uploader-profile-thumb-wrapper {
    position: absolute;
    margin-top: -130px;
    margin-left: 348px;
  }
}

.site-sign-up-avatar-preview {
  position: absolute;
  margin-top: -7px;
  border: 1px solid #DCDCDC;
  margin-left: 103px;
}

.site-upload-web-cam-video {
  width: 100%;
}

.site-upload-web-cam-canvas {
  display: none;
}