body {
  padding-top: 70px;
  padding-bot: 30px;
}

.site-avatar-small {
  width : 40px;
  height : 40px;
}

.site-nav-avatar {
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
}
.site-avatar-medium {
  width: 60px;
  height: 60px;
}

.app-nav-tabs {
  display: block;
  width: 100%;
}

.site-a-btn {
  cursor: pointer;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}